<section class="d-flex p-5">
    <div class="border-0 d-flex shadow profile p-4">
        <figure class="d-flex justify-content-center pt-4">
            <img class="images shadow" [src]="user.image">
        </figure>
        <div class="info">
            <div class="p-4">
                <h3>{{user.first_name}} {{user.last_name}}</h3>
                <label>Username:</label>
                <p>{{user.username}}</p>
                <label>Email:</label>
                <p>{{user.email}}</p>
            </div>
            <div class="buttons">
                <app-buttons [myUser]="user" [return]="true"></app-buttons>
            </div>
        </div>
    </div>
</section>